package ${package}.${moduleName}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import ${package}.${moduleName}.service.${className}Service;

import static com.soushi88.framework.mvc.response.BaseResult.success;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping()
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

}
