package ${package}.${moduleName}.service;

import xin.marcher.framework.mybatis.service.BaseService;
import ${package}.${moduleName}.model.${className};

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}> {

}

